main {
    display: flex;
    height: 160vh;
}

body {
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 120px;
    background-color:#a4a4a47f;
    justify-content: space-between;
    position: fixed;
}


.logo {
    width: 150px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.button {
    width: 90px;
    height: 40px;
    background-color: #98d3ea;
    color: #524267;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border: none;
}

.button:before {
    content: "";
    position: absolute;
    width: 0;
    background: #6e6eb4;
    left: 45%;
    height: 2px;
    bottom: 0;
    transition: all .3s;
    opacity: 0.7;
    border: 7px;
}

.button:hover:before {
    width: 100%;
    left: 0;
}

.button:hover{
        cursor: pointer;
}

nav>div {
    display: flex;
    gap: 67px;
    margin: auto 0;
}

.search-icon {
    width: 70px;
    height: 70px;
    margin: auto 0;
    margin-top: 20px;
    margin-left: 450px;
    cursor: pointer;
}

.button-box {
    display: flex;
    gap: 67px;
    margin-left: 150px;
    margin-top: 10px;
}

.search-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
    
}

.search-icon:active {
animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}