/*body*/
body {
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}


/*searchbar*/
form {
    display: flex;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ccc;
}

input[type="search"] {
    flex: 1;
    padding: 8px;
    border: none;
    font-size: 16px;
}

.searchbutton {
    background-color: #6e6eb4;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.searchbutton:hover {
    background-color: #3f2e56;
}

.searchbar {
    margin-left: 20px;
    margin-top: 40px;

}

.aboutpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid #f0f0f7;
    border-radius: 5px;
    background-color: #dfdfee;
    margin-right: 150px;
    width: 260px;
    height: 320px;
    font-size: 13px;
    padding: 10px;
    margin-top: 290px;
    margin-left: -240px;
}

.about-image-mark {
    display: flex;
    margin-left: 10px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.about-image-mark img {
    width: 250px;
    height: 250px;

}


/*main index*/

/*main codetalen*/
main {
    display: flex;
    height: 160vh;
    padding-top: 125px;
}

.learn-box {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.code-logo {
    width: 23%;
    height: auto;
    max-height: 70%;
    object-fit: cover;
    border-radius: 12%;
    float: right;
    margin-left: 10%;
    margin-right: 21%;
    margin-bottom: 20%;
}


.text-learn-box-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
}



.tekst-learn-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: start;
    align-content: flex-start;
    border: solid #f0f0f7;
    border-radius: 1%;
    background-color: #dfdfee;
    margin-left: 7%;
    width: 35%;
    height: 35%;
    font-size: 100%;
    padding: 1%;
    gap: 1%;
    box-sizing: border-box;
    overflow: hidden;
}
.tekst-learn-box-index {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: start;
    align-content: flex-start;
    border: solid #f0f0f7;
    border-radius: 1%;
    background-color: #dfdfee;
    margin-left: 7%;
    width: 35%;
    height: 50%;
    font-size: 100%;
    padding: 1%;
    gap: 1%;
    box-sizing: border-box;
    overflow: hidden;
}
.text-learn-box h1 {
    margin: 0;
    font-size: 24px;
}



.tekst-leer-box p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}

/*header*/
header {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #98d3ea;
    justify-content: space-between;
    position: fixed;
    margin-bottom: 120px;
}


.logo {
    width: 150px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}

/*button*/
.button {
    width: 90px;
    height: 40px;
    background-color: #98d3ea;
    color: #524267;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border: none;
}

.button:before {
    content: "";
    position: absolute;
    width: 0;
    background: #6e6eb4;
    left: 45%;
    height: 2px;
    bottom: 0;
    transition: all .3s;
    opacity: 0.7;
    border: 7px;
}

.button:hover:before {
    width: 100%;
    left: 0;
}

.button:hover {
    cursor: pointer;
}

nav>div {
    display: flex;
    gap: 67px;
    margin: auto 0;
}

/*search bar*/
.search-icon {
    width: 70px;
    height: 70px;
    margin: auto 0;
    margin-top: 20px;
    margin-left: 450px;
    cursor: pointer;
}

.button-box {
    display: flex;
    gap: 67px;
    margin-left: 150px;
    margin-top: 50px;
}

.search-icon:hover {
    transform: scale(1.1);
    cursor: pointer;

}

/*main contacts*/
.open-days-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: start;
    align-content: flex-start;
    gap: 1%;
    margin-left: 6%;
    margin-top: 5%;
}

.open-days {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: start;
    align-content: flex-start;
    border: solid #f0f0f7;
    border-radius: 3%;
    background-color: #dfdfee;
    margin-left: 13%;
    width: 35%;
    height: 38%;
    font-size: 100%;
    padding: 2%;
    gap: 3%;
}


/*footer*/
footer {
    background-color: #4a3a6a;
    margin-top: 10%;
    padding: 10% 0% 0%;
    margin-top: 22%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-text-down h3 {
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-text-down ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-text-down ul li {
    margin-bottom: 8px;
}

.footer-text-down ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-button {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border: none;
    text-align: center;
}

.footer-button:before {
    content: "";
    position: absolute;
    width: 0;
    background: #6e6eb4;
    left: 45%;
    height: 2px;
    bottom: 0;
    transition: all .3s;
    opacity: 0.7;
    border: 7px;
}

.footer-button:hover:before {
    width: 100%;
    left: 0;
}

.footer-button:hover {
    cursor: pointer;
}


/*searchbar*/
form {
    display: flex;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ccc;
}

input[type="search"] {
    flex: 1;
    padding: 8px;
    border: none;
    font-size: 16px;
}

.searchbutton {
    background-color: #6e6eb4;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.searchbutton:hover {
    background-color: #3f2e56;
}

.searchbar {
    margin-left: 20px;
    margin-top: 40px;

}

.aboutpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid #f0f0f7;
    border-radius: 5px;
    background-color: #dfdfee;
    margin-right: 150px;
    width: 260px;
    height: 320px;
    font-size: 13px;
    padding: 10px;
    margin-top: 290px;
    margin-left: -240px;
}

.aboutpage-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid #f0f0f7;
    border-radius: 5px;
    background-color: #dfdfee;
    margin-right: 150px;
    width: 260px;
    height: 320px;
    font-size: 13px;
    padding: 10px;
    margin-top: 690px;
    margin-left: -440px;
}

.about-image-mark {
    display: flex;
    margin-left: 10px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}


.aboutpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid #f0f0f7;
    border-radius: 5px;
    background-color: #dfdfee;
    margin-right: 150px;
    width: 260px;
    height: 320px;
    font-size: 13px;
    padding: 10px;
    margin-top: 290px;
    margin-left: -240px;
}

.aboutpage-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    align-content: center;
    border: solid #f0f0f7;
    border-radius: 5px;
    background-color: #dfdfee;
    margin-right: 150px;
    width: 280px;
    height: 320px;
    font-size: 9px;
    padding: 11px;
    margin-top: 690px;
    margin-left: -440px;
}

.aboutpage2 link {
    text-decoration: none;
    color: #524267;
    font-weight: bold;
    flex-direction: row;

}

.about-image-mark {
    display: flex;
    margin-left: 170px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.about-image-mark img {
    width: 100%;
    height: 20%;

}

.aboutpage-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid #f0f0f7;
    border-radius: 5px;
    background-color: #dfdfee;
    margin-right: 150px;
    width: 260px;
    height: 320px;
    font-size: 13px;
    padding: 10px;
    margin-top: 1100px;
    margin-left: -440px;
}

/*main about*/
