main {
    background-color: black;
    display: flex;
}

body {
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #9771ca;
    justify-content: space-between;
    border: solid #3f2e56 2px;
}

.logo {
    width: 150px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.button {
    width: 90px;
    height: 40px;
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 14px;
}

.button:hover {
    background-color: #98d3ea;
    cursor: pointer;
    scale: 1.1;
}

button:active {
    background-color: #24c7fd;
}

nav>div {
    display: flex;
    gap: 67px;
    margin: auto 0;
}

.search-icon {
    width: 70px;
    height: 70px;
    margin: auto 0;
    margin-top: 20px;
    margin-left: 450px;
    cursor: pointer;
}

.button-box {
    display: flex;
    gap: 67px;
    margin-left: 150px;
    margin-top: 10px;
}