/*main*/
main {
    display: flex;
    height: 160vh;
    padding-top: 125px;
}

/*body*/
body {
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}

/*header*/
header {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #98d3ea;
    justify-content: space-between;
    position: fixed;
    margin-bottom:120px;
}


.logo {
    width: 150px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}

/*button*/
.button {
    width: 90px;
    height: 40px;
    background-color: #98d3ea;
    color: #524267;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border: none;
}

.button:before {
    content: "";
    position: absolute;
    width: 0;
    background: #6e6eb4;
    left: 45%;
    height: 2px;
    bottom: 0;
    transition: all .3s;
    opacity: 0.7;
    border: 7px;
}

.button:hover:before {
    width: 100%;
    left: 0;
}

.button:hover {
    cursor: pointer;
}

nav>div {
    display: flex;
    gap: 67px;
    margin: auto 0;
}

/*search bar*/
.search-icon {
    width: 70px;
    height: 70px;
    margin: auto 0;
    margin-top: 20px;
    margin-left: 450px;
    cursor: pointer;
}

.button-box {
    display: flex;
    gap: 67px;
    margin-left: 150px;
    margin-top: 10px;
}

.search-icon:hover {
    transform: scale(1.1);
    cursor: pointer;

}

/*footer*/
footer {
    background-color: #4a3a6a;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-text-down h3 {
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-text-down ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-text-down ul li {
    margin-bottom: 8px;
}

.footer-text-down ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-button {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border: none;
    text-align: center;
}

.footer-button:before {
    content: "";
    position: absolute;
    width: 0;
    background: #6e6eb4;
    left: 45%;
    height: 2px;
    bottom: 0;
    transition: all .3s;
    opacity: 0.7;
    border: 7px;
}

.footer-button:hover:before {
    width: 100%;
    left: 0;
}

.footer-button:hover {
    cursor: pointer;
}


.tekst-leer-box {
   display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: start;
    align-content: flex-start;
    border: solid #f0f0f7;
    border-radius: 5px;
    background-color :#dfdfee;
    margin-left:55px;
    width: 350px;
    height: 300px;
    font-size: 18px;
    padding: 10px;
}
/*searchbar*/
form {
  display: flex;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ccc;
}

input[type="search"] {
  flex: 1;
  padding: 8px;
  border: none;
  font-size: 16px;
}

.searchbutton {
  background-color: #6e6eb4;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.searchbutton:hover {
  background-color: #3f2e56;
}

.searchbar {
  margin-left: 20px;
  margin-top: 40px;

}